doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.2.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    script(src='../javascripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js')

  body
    include menu
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\/script>')

    script(src="../javascripts/vendor/bootstrap.min.js")
    script(src="../javascripts/plugins.js")
    script(src="http://connect.facebook.net/en_US/all.js")
    script(src="../javascripts/main.js")