//
  Eduardo Oviedo Blanco
  eduardo.oviedo@gmail.com
  Contact form
extends adminlayout
block content
  article#admingames.container
    header.hero-unit
      h1 Contactenos
      p Envienos un mensaje y pronto le responderemos.
    section
      p hola
    include footer