extends adminlayout

block content
  article#admin.container
    header.hero-unit
      h1 Game Points!
      p
        | Bienvenido al portal de administración de Game Points Costa Rica. En este portal podrás solicitar información sobre cómo puedes ser parte del gran mundo de Game Points. Si ya eres socio, consulta el estado de sus juegos, solicita pagos y administra tu inventario. Para aplicar en Game Points como un socio, por favor complete el formulario de registro.
      p
        a(href='/admin/signup')#signup.btn.btn-primary.btn-large Registrese »

    section.row
      .span4
        h2 ¿Quienes somos?
        p
          | Somos una compaía seria, involucrada en el mercado de los video juegos, en la compra, venta e intercambio de video juegos. Brindamos la oportunidad al publico de participar de dos maneras distintas. Ingresa para saber más.
        p
          a.btn(href='/admin/whoweare') Ver detalles »
      .span4
        h2 ¿Cómo funciona?
        p
          | Game Points se trata de vender, comprar e intercambiar video juegos y artículos relacionados. Un socio y un usuario son conceptos distintos que funcionan de manera diferente. Ingresa para saber más.
        p
          a.btn(href='/admin/howitworks') Ver detalles »
      .span4
        h2 ¿Cómo participo?
        p
          | Si desea participar puede hacerlo en el 
          a(href='/') portal de Game Points
          |, pero si desea ir un paso más allá conosca cómo puede ganar dinero combirtiendose en socio de Game Points. Ingrese para saber más.
        p
          a.btn(href='/admin/microprovider') Ver detalles »
    include footer
    