extends adminlayout

block content
  article#home.container.active
    header.hero-unit
      h1 Game Points!
      p
        | Bienvenido al portal de administración de Game Points Costa Rica. En este portal podrás solicitar información sobre cómo puedes ser parte del gran mundo de Game Points. Si ya eres socio, consulta el estado de sus juegos, solicita pagos y administra tu inventario. Para iniciar en Game Points como un socio, por favor complete el formulario de registro.
      p
        a(href='/admin/signup')#signup.btn.btn-primary.btn-large Registrese »

    section.row
      .span4
        h2 ¿Quienes somos?
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn(href='/admin/whoweare') Ver detalles »
      .span4
        h2 ¿Cómo funciona?
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn(href='/admin/howitworks') Ver detalles »
      .span4
        h2 ¿Cómo participo?
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn(href='/admin/microprovider') Ver detalles »
    hr
    footer
      p © Game Points 2013