extends adminlayout
block content
  article#howitworks
    header.hero-unit
      h1 Microproveedores
      p Game Points ofrece la posibilidad de generar beneficios económicos para sus clientes, no solo con la compra y venta de sus juegos, si no también como un usuario proveedor avanzado. Quien podrá vender sus juegos en el portal web ya sean nuevos o usados.
    section.row
      .span9
        h2 Condiciones
        p Para poder ser un proveedor de Game Points es necesario cumplir con ciertos requisitos y condiciones:
        ul
          li Contar con un inventario inicial de almenos 20 juegos de video.
          li Vivir dentro del area de servicio de entrega. 
          li Tener la capacidad de atender al recolector en menos de 12 horas.
          li Haber aceptado el contrato de condiciones de uso para usuarios avanzados o microproveedores.
    section.row
      .span6
        h2 ¿Qué debe hacer un microproveedor?
        p Primero el microproveedor debe registrarse en este sitio y haber aceptado los terminos y condiciones.
        p Es becesario además que cumpla con los requisitos y condiciones listados anteriormente.
      .span6.handshake
        img(src='/images/hand-shake.gif')
    section.row
      .span6.gamesstack
        img(src='/images/gamestack.jpg')
      .span6
        p Es necesario que el microproveedor registr en este sitio su inventario de manera correcta y se comprometa a tenerlo actualizado en el sistema.