extends adminlayout
block content
  article#whoweare.container.active
    header.hero-unit
      h1 ¿Quiénes somos?
      p Somos una compañía involucrada en el mercado de los videojuegos para consolas.... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sem lectus, adipiscing eu scelerisque a, auctor quis nunc. Nunc sem ligula, facilisis vitae tincidunt et, varius ac risus.
    section.row
      h3 hi