//- GnA Eduardo Oviedo Blanco
//- eduardo.oviedo@gnastudio.net

extends layout

block content
  section.home
    article
      p Hola      
    article
    .searchbox
    section
      article
      aside