extends layout

block content
  article#home.container
    aside.filter
      h3 filtro
    section.itemsgrid
      h3 grid
      .wrapper
        article.game juego 1
        article.game juego 2
        article.game juego 3
        article.game juego 4
        article.game juego 5
        article.game juego 6
        article.game juego 7
        article.game juego 8
        article.game juego 9
        article.game juego 10
        article.game juego 11
    .clearfix

      