doctype 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=yes')
    title Game Points
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.2.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='../javascripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js')

  body
    aside.menu
      header
        img(src='images/gamepoints.png')
      nav
        .login
        .signin
        .howitworks
        .abouth
        .search
    section.main
      block content
    .clearfix
    footer
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\/script>')

    script(src="../javascripts/vendor/bootstrap.min.js")
    script(src="../javascripts/plugins.js")
    script(src="../javascripts/main.js")