

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hiden{
	display: none;
}


/* ADMIN */
/* Index */


/* Signup */

@media only screen and (min-width: 768px) {
	#signupContainer section{
		float: left;
	    width: 57%;
	}

	#signupContainer aside{
		float: right;
	    width: 43%;
	}
}








