/* ==========================================================================
Game Point's custom styles
========================================================================== */

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.hiden
  display: none


/* ADMIN */

/* Menu */
a.logins
  float: right

form.navbar-form.pull-right
  max-height: 45px

.otherLogins
  background-color: #000
  
a.fb
  background: url('/images/login-btns.png')
  display: block
  height: 43px
  width: 254px
a.fb:hover
  background-position: 0 -43px
a.fb:active
  background-position: 0 -86px
a.tw
  background: url('/images/login-btns.png')
  background-position: 0 -129px
  display: block
  height: 43px
  width: 254px
a.tw:hover
  background-position: 0 -172px
a.tw:active
  background-position: 0 -215px
a.go
  background: url('/images/login-btns.png')
  background-position: 0 -258px
  display: block
  height: 43px
  width: 254px
a.go:hover
  background-position: 0 -300px
a.go:active
  background-position: 0 -344px

/* Index */


/* Whoweare */
article#whoweare header
  text-align: center

article#whoweare header img
  width: 50%

/* Microprovider */
article#howitworks .handshake img
	width: 50%

article#howitworks .gamesstack
	text-align: right

// @media only screen and (min-width: 768px) and (max-width: 1024px)
// @media only screen and (min-width: 1024px)


/* Signup */

@media only screen and (min-width: 768px)
  #signupContainer section
    float: left
    width: 57%

  #signupContainer aside
    float: right
    width: 43%