/* ==========================================================================
Game Point's custom styles
========================================================================== 
http://webdesignerwall.com/tutorials/responsive-column-layouts
http://css-tricks.com/snippets/css/media-queries-for-standard-devices/

*/
body {
  font: 14px/18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.hiden {
  display: none;
}
/* ADMIN */
/* Menu */
a.logins {
  float: right;
}
form.navbar-form.pull-right {
  max-height: 45px;
}
.otherLogins {
  background-color: #000;
}
a.fb {
  background: url("/images/login-btns.png");
  display: block;
  height: 43px;
  width: 254px;
}
a.fb:hover {
  background-position: 0 -43px;
}
a.fb:active {
  background-position: 0 -86px;
}
a.tw {
  background: url("/images/login-btns.png");
  background-position: 0 -129px;
  display: block;
  height: 43px;
  width: 254px;
}
a.tw:hover {
  background-position: 0 -172px;
}
a.tw:active {
  background-position: 0 -215px;
}
a.go {
  background: url("/images/login-btns.png");
  background-position: 0 -258px;
  display: block;
  height: 43px;
  width: 254px;
}
a.go:hover {
  background-position: 0 -300px;
}
a.go:active {
  background-position: 0 -344px;
}
/* Index */
/* Whoweare */
article#whoweare header {
  text-align: center;
}
article#whoweare header img {
  width: 50%;
}
/* Microprovider */
article#howitworks .handshake img {
  width: 50%;
}
article#howitworks .gamesstack {
  text-align: right;
}
/* Signup */
#comment {
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  #signup section {
    float: left;
    width: 57%;
  }
  #signup aside {
    float: right;
    width: 43%;
  }
  #comment {
    max-width: 80%;
  }
}
/* CLIENT */
/* Menu */
.smallfilterbtn {
  float: left;
}
/* Index */
@media only screen and (min-width : 979px) {
  article#home {
    margin-top: 75px;
  }
}
article.container {
  max-width: 83em;
  min-width: 20em;
}
aside.filter {
  float: none;
  width: 100%;
}
section.itemsgrid {
  float: none;
  width: 100%;
}
article.game {
  margin-left: 0;
  background: #eee;
  margin-bottom: 30px;
  width: 100%;
  clear: none;
}
@media only screen and (min-width : 481px) {
  aside.filter {
    float: left;
    width: 20%;
  }
  section.itemsgrid {
    float: left;
    width: 80%;
  }
  article.game {
    float: left;
    margin-left: 3.2%;
    width: 22.6%;
  }
  article.game:nth-of-type(4n+1) {
    margin-left: 0;
    clear: left;
  }
}
@media only screen and (min-width : 481px) and (max-width : 768px) {
  article.game:nth-of-type(4n+1) {
    clear: none;
  }
  article.game:nth-of-type(3n+1) {
    margin-left: 0;
    clear: left;
  }
}
