/* ==========================================================================
Game Point's custom styles
========================================================================== */

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.hiden
  display: none


/* ADMIN */
/* Index */

/* Whoweare */
article#whoweare header
  text-align: center

article#whoweare header img
  width: 50%

// @media only screen and (min-width: 768px) and (max-width: 1024px)
  

// @media only screen and (min-width: 1024px)


/* Signup */

@media only screen and (min-width: 768px)
  #signupContainer section
    float: left
    width: 57%

  #signupContainer aside
    float: right
    width: 43%